# Pokemon Stats

In order to compute damage, we need to grab some pokemon stats. This notebook grabs stats for each Pokemon and puts it in a dataframe for easier usage.

In [1]:
from glob import glob
import pandas as pd
import json

In [2]:
def load_json(fp):
    data = None
    with open(fp) as f:
        data = json.load(f)
    
    return data

In [3]:
pokemon = []
for fp in glob('../data/raw/pokemon/*.json'):
    pokemon.append(load_json(fp))

In [4]:
pokemon_stats = []

for character in pokemon:
    stats = character['stats']
    pokemon_name = character.get('name')
    types = []
    
    data = {}
    for stat in stats:
        value = stat.get('base_stat')
        name = stat.get('stat').get('name')
        data[name] = value
    
    for ptype in character.get('types'):
        types.append(ptype.get('type').get('name').lower())
    
    data['pokemon'] = pokemon_name
    data['types'] = ','.join(types)
    pokemon_stats.append(data)

In [5]:
stats_df = pd.DataFrame(pokemon_stats)

In [6]:
stats_df.head()

,attack,defense,hp,pokemon,special-attack,special-defense,speed,types
0,90,55,52,farfetchd,58,62,60,"flying,normal"
1,85,95,80,rhyhorn,30,30,25,"rock,ground"
2,95,80,60,parasect,60,80,30,"grass,bug"
3,55,115,65,tangela,100,40,60,grass
4,20,15,25,abra,105,55,90,psychic

In [7]:
stats_df.to_csv('../data/processed/pokemon_stats.csv', index=False)